body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(167,181,158);
    display: flex;
    justify-content: center;
    align-items: center;
}
.scissors {
    transform: rotate(-90deg);
}
